<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exampro.mapper.ExamMapper">
  <resultMap id="BaseResultMap" type="com.exampro.model.Exam">
    <id column="ExamID" jdbcType="INTEGER" property="examid" />
    <result column="ExamName" jdbcType="VARCHAR" property="examname" />
    <result column="ExamDescription" jdbcType="VARCHAR" property="examdescription" />
    <result column="StartTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="EndTime" jdbcType="TIMESTAMP" property="endtime" />
  </resultMap>
  <sql id="Base_Column_List">
    ExamID, ExamName, ExamDescription, StartTime, EndTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exam
    where ExamID = #{examid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exam
    where ExamID = #{examid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.exampro.model.Exam">
    insert into exam (ExamID, ExamName, ExamDescription, 
      StartTime, EndTime)
    values (#{examid,jdbcType=INTEGER}, #{examname,jdbcType=VARCHAR}, #{examdescription,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.exampro.model.Exam">
    insert into exam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="examid != null">
        ExamID,
      </if>
      <if test="examname != null">
        ExamName,
      </if>
      <if test="examdescription != null">
        ExamDescription,
      </if>
      <if test="starttime != null">
        StartTime,
      </if>
      <if test="endtime != null">
        EndTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="examid != null">
        #{examid,jdbcType=INTEGER},
      </if>
      <if test="examname != null">
        #{examname,jdbcType=VARCHAR},
      </if>
      <if test="examdescription != null">
        #{examdescription,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.exampro.model.Exam">
    update exam
    <set>
      <if test="examname != null">
        ExamName = #{examname,jdbcType=VARCHAR},
      </if>
      <if test="examdescription != null">
        ExamDescription = #{examdescription,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        StartTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        EndTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ExamID = #{examid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exampro.model.Exam">
    update exam
    set ExamName = #{examname,jdbcType=VARCHAR},
      ExamDescription = #{examdescription,jdbcType=VARCHAR},
      StartTime = #{starttime,jdbcType=TIMESTAMP},
      EndTime = #{endtime,jdbcType=TIMESTAMP}
    where ExamID = #{examid,jdbcType=INTEGER}
  </update>
</mapper>