<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exampro.mapper.ExamrecordMapper">
  <resultMap id="BaseResultMap" type="com.exampro.model.Examrecord">
    <id column="RecordID" jdbcType="INTEGER" property="recordid" />
    <result column="ExamID" jdbcType="INTEGER" property="examid" />
    <result column="UserID" jdbcType="INTEGER" property="userid" />
    <result column="ExamDescription" jdbcType="VARCHAR" property="examdescription" />
    <result column="StartTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="EndTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="ObjectiveScore" jdbcType="INTEGER" property="objectivescore" />
    <result column="SubjectiveScore" jdbcType="INTEGER" property="subjectivescore" />
    <result column="TotalScore" jdbcType="INTEGER" property="totalscore" />
    <result column="Status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    RecordID, ExamID, UserID, ExamDescription, StartTime, EndTime, ObjectiveScore, SubjectiveScore, 
    TotalScore, Status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from examrecord
    where RecordID = #{recordid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from examrecord
    where RecordID = #{recordid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.exampro.model.Examrecord">
    insert into examrecord (RecordID, ExamID, UserID, 
      ExamDescription, StartTime, EndTime, 
      ObjectiveScore, SubjectiveScore, TotalScore, 
      Status)
    values (#{recordid,jdbcType=INTEGER}, #{examid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{examdescription,jdbcType=VARCHAR}, #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{objectivescore,jdbcType=INTEGER}, #{subjectivescore,jdbcType=INTEGER}, #{totalscore,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.exampro.model.Examrecord">
    insert into examrecord
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordid != null">
        RecordID,
      </if>
      <if test="examid != null">
        ExamID,
      </if>
      <if test="userid != null">
        UserID,
      </if>
      <if test="examdescription != null">
        ExamDescription,
      </if>
      <if test="starttime != null">
        StartTime,
      </if>
      <if test="endtime != null">
        EndTime,
      </if>
      <if test="objectivescore != null">
        ObjectiveScore,
      </if>
      <if test="subjectivescore != null">
        SubjectiveScore,
      </if>
      <if test="totalscore != null">
        TotalScore,
      </if>
      <if test="status != null">
        Status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordid != null">
        #{recordid,jdbcType=INTEGER},
      </if>
      <if test="examid != null">
        #{examid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="examdescription != null">
        #{examdescription,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="objectivescore != null">
        #{objectivescore,jdbcType=INTEGER},
      </if>
      <if test="subjectivescore != null">
        #{subjectivescore,jdbcType=INTEGER},
      </if>
      <if test="totalscore != null">
        #{totalscore,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.exampro.model.Examrecord">
    update examrecord
    <set>
      <if test="examid != null">
        ExamID = #{examid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        UserID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="examdescription != null">
        ExamDescription = #{examdescription,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        StartTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        EndTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="objectivescore != null">
        ObjectiveScore = #{objectivescore,jdbcType=INTEGER},
      </if>
      <if test="subjectivescore != null">
        SubjectiveScore = #{subjectivescore,jdbcType=INTEGER},
      </if>
      <if test="totalscore != null">
        TotalScore = #{totalscore,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where RecordID = #{recordid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exampro.model.Examrecord">
    update examrecord
    set ExamID = #{examid,jdbcType=INTEGER},
      UserID = #{userid,jdbcType=INTEGER},
      ExamDescription = #{examdescription,jdbcType=VARCHAR},
      StartTime = #{starttime,jdbcType=TIMESTAMP},
      EndTime = #{endtime,jdbcType=TIMESTAMP},
      ObjectiveScore = #{objectivescore,jdbcType=INTEGER},
      SubjectiveScore = #{subjectivescore,jdbcType=INTEGER},
      TotalScore = #{totalscore,jdbcType=INTEGER},
      Status = #{status,jdbcType=INTEGER}
    where RecordID = #{recordid,jdbcType=INTEGER}
  </update>
</mapper>