<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exampro.mapper.QuestionmanagementMapper">
  <resultMap id="BaseResultMap" type="com.exampro.model.Questionmanagement">
    <id column="QuestionID" jdbcType="INTEGER" property="questionid" />
    <result column="UserID" jdbcType="INTEGER" property="userid" />
    <result column="IsInBank" jdbcType="BIT" property="isinbank" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.exampro.model.Questionmanagement">
    <result column="QuestionContent" jdbcType="LONGVARCHAR" property="questioncontent" />
  </resultMap>
  <sql id="Base_Column_List">
    QuestionID, UserID, IsInBank, CreateTime
  </sql>
  <sql id="Blob_Column_List">
    QuestionContent
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from questionmanagement
    where QuestionID = #{questionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from questionmanagement
    where QuestionID = #{questionid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.exampro.model.Questionmanagement">
    insert into questionmanagement (QuestionID, UserID, IsInBank, 
      CreateTime, QuestionContent)
    values (#{questionid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{isinbank,jdbcType=BIT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{questioncontent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.exampro.model.Questionmanagement">
    insert into questionmanagement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionid != null">
        QuestionID,
      </if>
      <if test="userid != null">
        UserID,
      </if>
      <if test="isinbank != null">
        IsInBank,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="questioncontent != null">
        QuestionContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionid != null">
        #{questionid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="isinbank != null">
        #{isinbank,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="questioncontent != null">
        #{questioncontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.exampro.model.Questionmanagement">
    update questionmanagement
    <set>
      <if test="userid != null">
        UserID = #{userid,jdbcType=INTEGER},
      </if>
      <if test="isinbank != null">
        IsInBank = #{isinbank,jdbcType=BIT},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="questioncontent != null">
        QuestionContent = #{questioncontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where QuestionID = #{questionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.exampro.model.Questionmanagement">
    update questionmanagement
    set UserID = #{userid,jdbcType=INTEGER},
      IsInBank = #{isinbank,jdbcType=BIT},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      QuestionContent = #{questioncontent,jdbcType=LONGVARCHAR}
    where QuestionID = #{questionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exampro.model.Questionmanagement">
    update questionmanagement
    set UserID = #{userid,jdbcType=INTEGER},
      IsInBank = #{isinbank,jdbcType=BIT},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where QuestionID = #{questionid,jdbcType=INTEGER}
  </update>
</mapper>