<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exampro.mapper.paper.QuestionbankMapper">
  <resultMap id="BaseResultMap" type="com.exampro.model.paper.Questionbank">
    <id column="BankID" jdbcType="INTEGER" property="bankid" />
    <result column="BankName" jdbcType="VARCHAR" property="bankname" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    BankID, BankName, CreateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from questionbank
    where BankID = #{bankid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from questionbank
    where BankID = #{bankid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.exampro.model.paper.Questionbank">
    insert into questionbank (BankID, BankName, CreateTime
      )
    values (#{bankid,jdbcType=INTEGER}, #{bankname,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.exampro.model.paper.Questionbank">
    insert into questionbank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bankid != null">
        BankID,
      </if>
      <if test="bankname != null">
        BankName,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bankid != null">
        #{bankid,jdbcType=INTEGER},
      </if>
      <if test="bankname != null">
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.exampro.model.paper.Questionbank">
    update questionbank
    <set>
      <if test="bankname != null">
        BankName = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where BankID = #{bankid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exampro.model.paper.Questionbank">
    update questionbank
    set BankName = #{bankname,jdbcType=VARCHAR},
      CreateTime = #{createtime,jdbcType=TIMESTAMP}
    where BankID = #{bankid,jdbcType=INTEGER}
  </update>
</mapper>